.layout {
  background-color: #f0f2f5;
}

.navbar {
  background-color: #506d94;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 50px;
}

.logo {
  width: 120px;
  height: auto;
  margin-left: 10px;
  margin-top: 5px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 90vh;
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 60px 20px;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 20px;
  color: rgb(84, 109, 157); 
  font-weight: bold;
  position: relative;
  top: 80px; 
}

.hero-subtitle {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto 30px;
  color: #555;
  position: relative;
  top: 80px; 
}


.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  width: 500px;
  text-align: center;
  right: -100px; 
  position:relative; 

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.2s;
}

.login-input:focus {
  border-color: #506d94;
}

.login-btn-main {
  width: 100%;
  padding: 12px;
  background-color: #506d94;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.login-btn-main:hover {
  background-color: #40557a;
}

.login-text {
  margin-top: 20px;
  color: #333;
}

.login-link {
  color: #5d8dc0;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
}

.login-link:hover {
  color: #b2c6dc;
}

.about-section {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.about-section p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 50px; 
  color: #555;
}

footer {
  background-color: #001529;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

.custom-card {
  transition: transform 0.3s ease;
  height: 280px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
}

.custom-card:hover {
  transform: scale(1.05);
}

.ant-card-body {
  overflow: hidden;
  padding: px;
}

.custom-card p {
  margin-bottom: 1px; 
}

.custom-card h3 {
  margin-top: 1px; 
}

@media (max-width: 768px) {
  .custom-card {
    width: 100%;
    height: auto;
  }
}
.container {
  display: inline-block;
  background-color: #333; 
  padding: 10px; 
}

.typewriter-text {
  font-size: 50px;
  letter-spacing: 6px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-weight: bold; 
  color: rgb(84, 109, 157); 
  position: relative;
  top: 45px; 
  animation: 
    typing 4s steps(8) 1s infinite alternate,
    cursor .5s step-end infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  
  50% { width: 100%; }
}



